.prom-section {
  tr {
    td {
      p {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
    .prom-section__image { // td
      width: 50%;  // does not work
    }
  }
}