.wrapper {
  width: 100%;
  // margin: 0 auto;
  font-family: sans-serif;
  .wrapper__inner {
    // width: 800px;
    // width: 80%;
    width: 100%;
    max-width: 800px; // should be 600px
    position: relative;
    .wrapper__main {
      // width: 800px;
      // width: 80%;
      width: 100%;
      max-width: 800px; // should be 600px
      border-collapse: collapse; // ss
      background-image: url("../../img/pattern.png");
    }
  }
}